<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Paddles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A951C0941D7E662E0062264F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A951C0AE1D7E663E0062264F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A951C0B91D7E663F0062264F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
